Q1 What are data structures, and why are they important?

Data structures are ways to organize, store, and manage data efficiently for specific tasks. They provide frameworks for storing data in memory, enabling efficient access, modification, and retrieval. Examples include lists, arrays, dictionaries, sets, and tuples. They are important because they optimize performance, reduce complexity, and improve scalability in algorithms and applications by choosing the right structure for the task (e.g., fast lookups with dictionaries or ordered data with lists).

Q2 Explain the difference between mutable and immutable data types with examples.

Mutable: Can be modified after creation. Changes affect the same object in memory.
Example: Lists ([1, 2, 3]), dictionaries ({'key': 'value'}), sets ({1, 2, 3}). You can append to a list or update a dictionary.
Immutable: Cannot be modified after creation. Any change creates a new object.
Example: Strings ("hello"), tuples ((1, 2, 3)), integers (5). Changing a string creates a new string.


Q3 What are the main differences between lists and tuples in Python?

Mutability: Lists are mutable (can be changed), tuples are immutable (cannot be changed).
Syntax: Lists use square brackets [ ], tuples use parentheses ( ).
Performance: Tuples are slightly faster due to immutability.
Use Case: Lists for dynamic data, tuples for fixed data or ensuring integrity.
Methods: Lists have methods like append(), remove(); tuples have fewer methods (e.g., count(), index()).

Q4Describe how dictionaries store data.

Dictionaries in Python store data as key-value pairs, where each key is unique and mapped to a value. They use a hash table internally, where keys are hashed to generate an index, allowing fast lookups. Data is stored in an unordered manner (though since Python 3.7, insertion order is preserved). Example: {'name': 'Alice', 'age': 25}.

Q5 Why might you use a set instead of a list in Python?

Use a set when you need unique elements (no duplicates) and fast membership testing (in operation). Sets are optimized for operations like union, intersection, and difference, and they don’t maintain order. Lists are better for ordered, index-based access or when duplicates are allowed. Example: Use a set to store unique user IDs, not a list.

Q6 What is a string in Python, and how is it different from a list?

A string is an immutable sequence of characters (e.g., "hello"). A list is a mutable sequence of elements of any type (e.g., [1, "hello", 3.14]). Strings support character-specific operations (e.g., upper(), split()), while lists support general sequence operations (e.g., append(), pop()). Strings are immutable, so modifying them creates a new string; lists can be modified in place.

Q7 How do tuples ensure data integrity in Python?

Tuples are immutable, meaning their elements cannot be modified, added, or removed after creation. This ensures data remains consistent and prevents accidental changes, making tuples ideal for fixed data like coordinates or configuration settings. Their immutability also makes them hashable, suitable as dictionary keys or set elements.

Q8 What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function to compute an index for fast access. Python dictionaries are implemented as hash tables, where keys are hashed to store and retrieve values efficiently. This enables O(1) average-case time complexity for lookups, inserts, and deletions.

Q9 Can lists contain different data types in Python?

Yes, lists in Python can contain elements of different data types, such as integers, strings, floats, or even other lists. Example: [1, "hello", 3.14, [2, 3]].

Q10 Explain why strings are immutable in Python.

Strings are immutable to ensure consistency, efficiency, and safety. Immutability allows strings to be used as dictionary keys (hashable) and prevents unintended changes in multi-threaded environments. Modifying a string creates a new object, preserving the original. This design choice optimizes memory and performance for frequent string operations.

Q11 What advantages do dictionaries offer over lists for certain tasks?


Fast Lookups: Dictionaries provide O(1) average-case access via keys, unlike lists (O(n) for searching).
Key-Value Mapping: Ideal for associating data (e.g., {'name': 'Alice'}), unlike lists’ index-based access.
Flexibility: Keys can be any hashable type, not just integers.
Use Case: Dictionaries are better for lookups, like storing user data by ID, while lists are better for ordered sequences.

Q12 Describe a scenario where using a tuple would be preferable over a list.

Use a tuple for fixed, immutable data, like representing a point in 2D space (x, y) (e.g., (3, 4)). Tuples ensure coordinates aren’t accidentally modified and can be used as dictionary keys due to their hashability, unlike lists, which are mutable and better for dynamic data.

Q13 How do sets handle duplicate values in Python?

Sets automatically eliminate duplicates by storing only unique elements. When adding an element already in the set, it’s ignored. Example: set([1, 2, 2, 3]) results in {1, 2, 3}.

Q14  How does the “in” keyword work differently for lists and dictionaries?

Lists: The in keyword checks if an element exists in the list, performing a linear search (O(n)). Example: 3 in [1, 2, 3] checks for the value 3.
Dictionaries: The in keyword checks if a key exists, using a hash table for O(1) average-case lookup. Example: 'key' in {'key': 'value'} checks for the key 'key'.

Q15 Can you modify the elements of a tuple? Explain why or why not.

No, tuple elements cannot be modified because tuples are immutable. Once created, their size and contents are fixed to ensure data integrity and hashability. Any attempt to modify a tuple (e.g., t[0] = 1) raises a TypeError.

Q16 What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary containing other dictionaries as values.

In [5]:
students = {
    'John': {'age': 20, 'grade': 'A'},
    'Alice': {'age': 19, 'grade': 'B'}
}

Q17 Describe the time complexity of accessing elements in a dictionary.

Accessing elements in a dictionary (by key) has an average-case time complexity of O(1) due to the underlying hash table. In rare cases of hash collisions, it may degrade to O(n), but this is uncommon.

Q18  In what situations are lists preferred over dictionaries?


When order matters (lists maintain insertion order).
When data is accessed by index, not key.
When duplicates are allowed.
When storing simple sequences (e.g., [1, 2, 3]).
Example: Storing a sequence of user actions in order, like ['click', 'scroll', 'click'].

Q19  Why are dictionaries considered unordered, and how does that affect data retrieval?


Dictionaries are considered unordered because, historically (pre-Python 3.7), their key-value pairs were not guaranteed to maintain insertion order. Since Python 3.7, dictionaries preserve insertion order, but they are still not indexed like lists. This affects retrieval: you access values by keys (not indices), and iteration follows insertion order, not a sorted or arbitrary order.

Q20 Explain the difference between a list and a dictionary in terms of data retrieval.

List: Retrieves elements by integer index (e.g., lst[0]), with O(1) time complexity for direct access. Suitable for ordered sequences.
Dictionary: Retrieves values by key (e.g., dict['key']), with O(1) average-case time complexity using hash tables. Suitable for key-value mappings.

In [6]:
#Write a code to create a string with your name and print it.
name = "John"
print(name)

John

In [7]:
#Write a code to find the length of the string "Hello World".
s = "Hello World"
print(len(s))  # Output: 11

11

In [8]:
#Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[:3])  # Output: Pyt

Pyt

In [9]:
#Write a code to convert the string "hello" to uppercase
s = "hello"
print(s.upper())  # Output: HELLO

HELLO

In [10]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple", "orange"))  # Output: I like orange

I like orange

In [11]:
#Write a code to create a list with numbers 1 to 5 and print it
lst = [1, 2, 3, 4, 5]
print(lst)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [12]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)  # Output: [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

In [13]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

In [14]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])  # Output: b

b

In [15]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)  # Output: [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

In [16]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)  # Output: (100, 200, 300)

(100, 200, 300)

In [17]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])  # Output: blue

blue

In [18]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))  # Output: 5

5

In [19]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))  # Output: 1

1

In [20]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)  # Output: False

False

In [21]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)  # Output: {'a', 'b', 'c'}

{'c', 'b', 'a'}

In [22]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)  # Output: set()

set()

In [23]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)  # Output: {1, 2, 3}

{1, 2, 3}

In [24]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [25]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))  # Output: {2, 3}

{2, 3}

In [26]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {'name': 'Alice', 'age': 25, 'city': 'Paris'}
print(d)  # Output: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

{'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [27]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)  # Output: {'name': 'John', 'age': 25, 'country': 'USA'}

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d['name'])  # Output: Alice

Alice

In [29]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)  # Output: {'name': 'Bob', 'city': 'New York'}

{'name': 'Bob', 'city': 'New York'}

In [30]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)  # Output: True

True

In [31]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
t = (4, 5, 6)
d = {'a': 1, 'b': 2}
print(lst, t, d)  # Output: [1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [32]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
lst = [random.randint(1, 100) for _ in range(5)]
lst.sort()
print(lst)  # Output: e.g., [23, 45, 67, 89, 92]

[68, 78, 80, 90, 91]

In [33]:
#Write a code to create a list with strings and print the element at the third index
lst = ['apple', 'banana', 'orange', 'grape', 'kiwi']
print(lst[3])  # Output: grape

grape

In [34]:
#Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
#Write a code to convert a list of strings into a set.
lst = ['apple', 'banana', 'apple', 'orange']
s = set(lst)
print(s)  # Output: {'apple', 'banana', 'orange'}

{'banana', 'apple', 'orange'}